.hide{
    display: none ;
}
/* .show{
    display: block;
    
} */
.cardBorder{
   border: 1px solid red;
  
}
.cardBorder .card{
    border: none;
}

.cardUser{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}